<h1>Эта страница только для демонстрации, так как нормальные роуты еще не реализованы :( после клика обновляем страницу</h1>
<div class="pages-links">
    <nav>
        <ul>
            <li>{{> Button label="Авторизация" type="primary" page="/login"}}</li>
            <li>{{> Button label="Регистрация" type="primary" page="/registration"}}</li>
            <li>{{> Button label="Чат" type="primary" page="/chat"}}</li>
            <li>{{> Button label="Профиль" type="primary" page="/personal"}}</li>
            <li>{{> Button label="Смена пароля" type="primary" page="/personal-change-pass"}}</li>
            <li>{{> Button label="Редактировать профиль" type="primary" page="/personal-edit"}}</li>
            <li>{{> Button label="404" type="primary" page="/404"}}</li>
            <li>{{> Button label="500" type="primary" page="/500"}}</li>
        </ul>
    </nav>
</div>
