<div class="circle-link">
    <a href="{{link}}">
        {{#if arrow}}
            <img src="{{circleLeft}}" alt="arrow left">
        {{else}}
            <img src="{{circleRight}}" alt="arrow right">
        {{/if}}
    </a>
</div>
