<main class="chat">
    <div class="chat__list">
        {{> ListHeader link="#"}}
        {{> ChatList}}
    </div>
    <div class="chat-window">
        {{> WindowHeader}}
        {{> WindowContent}}
        {{> WindowFooter}}
    </div>
</main>
