<main class="page-500">
    <div class="page-500__wrapper">
        <h1 class="page-500__title">500</h1>
        <div class="page-500__subtitle">Сломалось, уже чиним! ;)</div>
        {{> Button label="Назад к чатам" type="link" page="/list"}}
    </div>
</main>
