<div class="chat-window-header">
    <div class="chat-window-header__user">
        <img src="{{noAvatar}}" alt="avatar">
        <div class="chat-window-header__name">Артем</div>
    </div>
    <div class="chat-window-header__context-menu">
        <div class="dot"></div>
    </div>
</div>
