<main class="personal">
    <div class="personal__back">
        {{> CircleLink arrow="left"}}
    </div>
    <div class="personal__content">
        <div class="personal__avatar-block">
            {{> PersonalAvatar}}
        </div>
        {{#if name}}
            <div class="personal__name">{{name}}</div>
        {{/if}}
        <div class="personal__data-block">
            {{#each personalData}}
                {{> PersonalInput}}
            {{/each}}
        </div>
        <nav class="personal__btns-block">
            <div class="personal__btns-item">
                {{> Button label="Изменить данные" type="link" page="/personal-edit"}}
            </div>
            <div class="personal__btns-item">
                {{> Button label="Изменить пароль" type="link" page="/personal-change-pass"}}
            </div>
            <div class="personal__btns-item">
                {{> Button label="Выйти" type="sign-out" page="/login"}}
            </div>
        </nav>
    </div>
</main>
