<div class="chat-window-footer">
    <div class="chat-window-footer__icon">
        <img src="{{noAvatar}}" alt="">
    </div>
    <div class="chat-window-footer__input">
        <input type="text" placeholder="Сообщение">
    </div>
    <div class="chat-window-footer__send-btn">
        <button>
            <img src="{{circleRight}}" alt="no avatar">
        </button>
    </div>
</div>
