<main class="page-404">
    <div class="page-404__wrapper">
        <h1 class="page-404__title">404</h1>
        <div class="page-404__subtitle">Упс, такой страницы нет :(</div>
        {{> Button label="Назад к чатам" type="link" page="/list"}}
    </div>
</main>
