<div class="chat-list-header">
    <div class="chat-list-header__go-to-personal">
        <a href="{{link}}">Профиль</a>
    </div>
    <div class="chat-list-header__search">
        <label>
            <input type="text" placeholder="Поиск">
        </label>
    </div>
</div>
