// colors
$color-base-blue: #3369F3;
$color-bg-white: #FFF;
$color-bg-dark-white: #FBFBFB;
$color-active-item: #E4EDFD;
$color-bg-gray: #EFEFEF;
$color-error: #FF2F2F;
$color-text-black: #1E1E1E;
$color-text-gray: #999;
$color-text-white: #FFF;
$color-text-space-gray: #999999;
$color-bg-light-gray: #EAEAEA;
